@import '~primeicons/primeicons.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeng/resources/themes/saga-blue/theme.css';

body {
    padding: 2em;
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;

background-image: url('src/assets/European-Specialty-Coffee-Market-by-Pointbleu-Design-Blog.jpg');
  /* Full height */
  height: 100%;
  background-position:initial;
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;


  }

