<!-- <h2 style="color:white">Register</h2>
<form [formGroup]="registerUserform" (ngSubmit)="onSubmit()">
    <div class="registerUserform">
        <label style="color: white;" for="registerUserform">First Name:</label>
        <input  formControlName="firstName" type="text" class="form-control" pInputText />  
    </div>
    <div class="registerUserform">
        <label style="color:white;"for="registerUserform">Last Name:</label>
        <input  formControlName="lastName" type="text" class="form-control" pInputText />  
    </div>
    <div class="registerUserform">
        <label style="color:white;"for="registerUserform">User name:</label>
        <input  formControlName="username" type="text" class="form-control" pInputText />  
    </div>
    <div class="registerUserform">
        <label style="color:white;"for="registerUserform">Password</label>
        <input  formControlName="password" type="text" class="form-control" pInputText />  
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Register</button>
        <a routerLink="/app-login" class="btn btn-link">Cancel</a>
    </div>
</form> -->